In [1]:
import pandas as pd
import numpy as np
import argparse

from pyproj import Transformer
from pathlib import Path

In [2]:
people_df = pd.read_csv("data/persons_home_depot_with_start_duration_draws.csv")
activities_df = pd.read_csv("data/activities_long_with_groups_selected_plus.csv")
charger_df = pd.read_csv("data/charger_location_attributes_dropped_final.csv")

/var/folders/p0/bcd_l4996lz24gnzf87fwjm80000gn/T/ipykernel_31467/3100424587.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  people_df = pd.read_csv("data/persons_home_depot_with_start_duration_draws.csv")

In [3]:
people_df.head()

,pid,x,y,hhincome,workstatus,gender,age_group,group,start_g1,dur_g1,...,start_g4,dur_g4,start_g5,dur_g5,start_g6,dur_g6,start_g7,dur_g7,start_g8,dur_g8
0,2002000535_3_E02001543_1_2002001259,453768.0,408587.0,low,False,male,65+,1,0.0,156.0,...,159.0,12.0,287.0,35.0,NaN,NaN,NaN,NaN,148.0,149.0
1,2002000535_3_E02001543_1_2002001260,453768.0,408587.0,low,False,female,65+,1,0.0,138.0,...,127.0,5.0,148.0,36.0,NaN,NaN,NaN,NaN,149.0,4.0
2,2002000535_5_E02001617_1_2002001259,437044.0,393175.0,low,False,male,65+,1,224.0,169.0,...,128.0,164.0,147.0,35.0,NaN,NaN,NaN,NaN,108.0,20.0
3,2002000535_5_E02001617_1_2002001260,437044.0,393175.0,low,False,female,65+,1,122.0,136.0,...,177.0,46.0,147.0,35.0,NaN,NaN,NaN,NaN,130.0,29.0
4,2002000536_7_E02001588_1_2002001261,440254.0,394149.0,low,False,female,65+,1,0.0,114.0,...,109.0,71.0,287.0,8.0,NaN,NaN,NaN,NaN,242.0,67.0

In [4]:
activities_df.head()

,pid,activity_idx,act_type,x,y,group,earliest_start,latest_start,max_duration,min_duration
0,2002000535_3_E02001543_1_2002001259,1,home,453768.000000,408587.000000,1,0,288,288,2
1,2002000535_3_E02001543_1_2002001259,2,other,453768.000000,408587.000000,8,108,216,120,2
2,2002000535_3_E02001543_1_2002001259,3,home,453768.000000,408587.000000,1,0,288,288,2
3,2002000535_3_E02001543_1_2002001260,1,home,453768.000000,408587.000000,1,0,288,288,2
4,2002000535_3_E02001543_1_2002001260,2,pt interaction,453920.826652,408260.138674,8,108,216,120,2

In [5]:
# unique_pairs = (
#     activities_df[["act_type", "group"]].drop_duplicates().sort_values("group")
# )
# unique_pairs

In [6]:
activities_df["pid"].unique()

array(['2002000535_3_E02001543_1_2002001259',
       '2002000535_3_E02001543_1_2002001260',
       '2002000535_5_E02001617_1_2002001259', ..., 'LGV_997', 'LGV_998',
       'LGV_999'], shape=(131262,), dtype=object)

In [7]:
pids_with_2_or_5 = activities_df[activities_df["group"].isin([2, 5])]["pid"].unique()
pids_with_4 = activities_df[activities_df["group"].isin([4])]["pid"].unique()
pids_with_8 = activities_df[activities_df["group"].isin([8])]["pid"].unique()

In [8]:
pids_with_both = set(pids_with_2_or_5).intersection(set(pids_with_4))
pids_with_all = set(pids_with_both).intersection(set(pids_with_8))

In [9]:
pids_with_all

{'2006008764_2_E02001564_1_2006020931',
 '2017001054_3_E02001562_1_2017002497',
 '2016007062_5_E02001553_1_2016017054',
 '2010000264_7_E02006844_1_2010000618',
 '2008007698_3_E02001525_1_2008018252',
 '2007000283_4_E02001666_1_2007000677',
 '2017004615_4_E02001576_1_2017011031',
 '2018006686_7_E02001678_1_2018015921',
 '2006008073_5_E02002478_1_2006019275',
 '2012004698_7_E02001562_1_2012011083',
 '2010007669_4_E02001599_1_2010018242',
 '2016000144_2_E02001642_1_2016000340',
 '2013006062_5_E02001525_1_2013014530',
 '2009007908_4_E02001543_1_2009018982',
 '2015002218_7_E02002283_1_2015005377',
 '2016005529_1_E02005817_1_2016013272',
 '2002002693_5_E02001543_1_2002006282',
 '2003001570_5_E02001576_1_2003003840',
 '2017001564_3_E02001643_1_2017003747',
 '2013001538_5_E02001643_1_2013003739',
 '2006001016_5_E02001576_1_2006002504',
 '2003003094_4_E02001543_1_2003007542',
 '2017000457_7_E02001652_1_2017001044',
 '2010006258_3_E02001593_1_2010014847',
 '2008002477_6_E02001538_1_2008005839',
 '2009005691_3_E02001580_1_2009013602',
 '2017006122_3_E02001627_1_2017014736',
 '2011003349_6_E02001597_1_2011007851',
 '2002005679_1_E02001615_1_2002013272',
 '2016005665_2_E02001528_1_2016013597',
 '2010005475_1_E02001557_1_2010013035',
 '2017003117_1_E02001521_1_2017007472',
 '2006002601_7_E02001616_1_2006006190',
 '2006000266_1_E02001613_1_2006000630',
 '2014005208_1_E02001577_1_2014012585',
 '2009003838_4_E02001680_1_2009009210',
 '2013000901_6_E02001673_1_2013002144',
 '2006001845_7_E02001614_1_2006004420',
 '2009005386_4_E02001658_1_2009012860',
 '2012006252_2_E02001647_1_2012014787',
 '2017006122_7_E02001518_1_2017014736',
 '2017001349_1_E02001515_1_2017003183',
 '2007004208_1_E02001619_1_2007010062',
 '2005003448_5_E02006803_1_2005008320',
 '2006004103_2_E02001637_1_2006009813',
 '2006001840_2_E02001544_1_2006004406',
 '2009000720_6_E02001536_1_2009001734',
 '2018000891_3_E02001604_1_2018002187',
 '2012002423_6_E02001602_1_2012005665',
 '2004002477_1_E02001581_1_2004005929',
 '2011007313_1_E02001596_1_2011017203',
 '2007006518_1_E02001531_1_2007015477',
 '2003004686_5_E02001529_1_2003011338',
 '2019000724_4_E02001642_1_2019001747',
 '2005006612_2_E02001531_1_2005015968',
 '2006004108_1_E02001566_1_2006009829',
 '2017003469_2_E02001570_1_2017008301',
 '2014007448_5_E02001559_1_2014017941',
 '2010008349_7_E02001640_1_2010019876',
 '2006004106_5_E02002694_1_2006009826',
 '2017006244_1_E02001650_1_2017015028',
 '2004003848_3_E02001547_1_2004009310',
 '2015002640_5_E02001543_1_2015006350',
 '2009008739_3_E02001604_1_2009020934',
 '2016005062_2_E02001553_1_2016012139',
 '2004005348_5_E02001543_1_2004012891',
 '2013000901_2_E02001618_1_2013002144',
 '2006005667_4_E02001528_1_2006013578',
 '2016002501_3_E02006843_2_2016005987',
 '2019005483_7_E02001605_1_2019012876',
 '2004001758_4_E02001547_1_2004004227',
 '2006001108_5_E02001662_1_2006002716',
 '2009008998_2_E02001545_1_2009021563',
 '2010000264_1_E02006844_2_2010000619',
 '2008006301_7_E02001556_1_2008014966',
 '2010007707_1_E02001579_1_2010018330',
 '2016002696_2_E02001524_1_2016006477',
 '2003006505_4_E02006803_1_2003015666',
 '2005005058_1_E02006803_1_2005012151',
 '2014006971_1_E02001516_1_2014016815',
 '2005001767_5_E02001514_1_2005004328',
 '2006004073_7_E02001648_2_2006009737',
 '2010004804_7_E02001646_1_2010011391',
 '2011007315_6_E02001543_1_2011017209',
 '2011000234_5_E02001567_1_2011000534',
 '2019006668_3_E02001586_1_2019015711',
 '2014002315_7_E02001619_1_2014005584',
 '2013005437_6_E02001535_1_2013013038',
 '2014000973_7_E02001631_1_2014002423',
 '2004006971_4_E02001551_1_2004016767',
 '2006001807_3_E02001665_1_2006004344',
 '2010004052_7_E02001527_1_2010009586',
 '2015007547_5_E02001635_1_2015018069',
 '2014005574_6_E02001603_1_2014013438',
 '2016001902_2_E02002480_1_2016004605',
 '2017002901_2_E02001624_1_2017006974',
 '2002002000_4_E02001538_1_2002004688',
 '2013004167_3_E02001529_1_2013010024',
 '2012000945_2_E02001580_1_2012002220',
 '2008008459_4_E02001537_1_2008020064',
 '2018004621_1_E02001524_1_2018011011',
 '2004003891_3_E02001627_1_2004009399',
 '2009001445_2_E02001549_2_2009003487',
 '2008007783_4_E02001662_1_2008018434',
 '2012007764_2_E02006869_1_2012018367',
 '2006000311_1_E02001676_1_2006000744',
 '2013006668_7_E02001655_1_2013015987',
 '2003002699_3_E02005813_1_2003006565',
 '2002001980_4_E02001604_1_2002004643',
 '2002004875_2_E02001662_1_2002011442',
 '2015000752_4_E02001603_1_2015001808',
 '2009007536_7_E02002458_1_2009018079',
 '2017006226_5_E02001556_1_2017014988',
 '2012004750_7_E02001627_1_2012011215',
 '2016005585_5_E02001538_1_2016013411',
 '2003004703_7_E02001674_1_2003011378',
 '2002005652_1_E02001550_1_2002013187',
 '2005004264_6_E02001613_1_2005010296',
 '2012002482_6_E02001653_1_2012005803',
 '2009004868_3_E02001557_1_2009011661',
 '2012005426_2_E02006869_1_2012012847',
 '2004001747_7_E02001578_1_2004004199',
 '2003006601_5_E02001572_1_2003015868',
 '2011005737_1_E02001580_1_2011013487',
 '2010002535_5_E02001534_1_2010006047',
 '2019001377_7_E02002434_1_2019003261',
 '2013000882_6_E02001615_1_2013002094',
 '2007007240_7_E02001673_1_2007017169',
 '2010008339_4_E02001552_1_2010019851',
 '2017003114_4_E02001678_1_2017007467',
 '2015006860_1_E02001611_1_2015016453',
 '2015006357_6_E02001514_1_2015015286',
 '2008002476_2_E02002701_1_2008005837',
 '2008000286_2_E02005813_1_2008000655',
 '2008006239_1_E02001664_1_2008014799',
 '2003006505_4_E02001534_1_2003015666',
 '2017005415_6_E02001659_1_2017013027',
 '2004001758_3_E02001663_1_2004004227',
 '2008000277_2_E02001538_1_2008000637',
 '2008004005_4_E02001545_1_2008009445',
 '2002007881_5_E02001650_1_2002018564',
 '2005004210_2_E02001611_1_2005010154',
 '2006008763_6_E02001614_1_2006020927',
 '2008001004_2_E02002694_1_2008002323',
 '2012000267_6_E02001572_1_2012000648',
 '2014001697_7_E02005790_1_2014004131',
 '2002004190_5_E02001620_1_2002009773',
 '2012004715_1_E02001547_1_2012011127',
 '2019004534_4_E02001618_1_2019010605',
 '2002003438_7_E02001519_1_2002007995',
 '2004007685_2_E02001532_1_2004018427',
 '2012002476_2_E02001676_1_2012005788',
 '2013003558_2_E02001653_1_2013008589',
 '2006002601_3_E02001588_1_2006006190',
 '2009006471_2_E02001593_1_2009015535',
 '2008001058_4_E02002480_1_2008002446',
 '2008001004_2_E02001618_1_2008002323',
 '2002004940_3_E02001573_1_2002011574',
 '2016003344_1_E02001519_1_2016008062',
 '2009001448_7_E02001606_1_2009003492',
 '2003006394_2_E02001586_1_2003015410',
 '2012000990_6_E02001574_1_2012002319',
 '2002007183_4_E02001588_1_2002016829',
 '2017006622_4_E02001648_1_2017015908',
 '2006004904_3_E02001636_1_2006011753',
 '2009008739_3_E02001604_1_2009020935',
 '2013007371_4_E02002417_1_2013017706',
 '2009001997_1_E02001611_1_2009004782',
 '2015007397_7_E02001625_1_2015017739',
 '2008001753_1_E02002477_1_2008004102',
 '2018004591_7_E02001562_1_2018010940',
 '2005001831_6_E02001583_1_2005004472',
 '2005008125_2_E02001527_1_2005019588',
 '2011008027_1_E02001531_1_2011018913',
 '2015003965_5_E02001528_1_2015009540',
 '2005001831_7_E02001533_1_2005004472',
 '2014002778_5_E02001580_1_2014006702',
 '2008001763_1_E02001671_1_2008004126',
 '2018001934_7_E02002368_1_2018004628',
 '2015002088_4_E02001631_1_2015005053',
 '2003004686_6_E02001597_1_2003011339',
 '2014001697_7_E02001528_1_2014004131',
 '2013005454_3_E02001670_1_2013013069',
 '2017001099_4_E02001627_1_2017002599',
 '2008001036_7_E02001616_1_2008002389',
 '2012006229_7_E02001648_1_2012014739',
 '2009005970_2_E02001538_1_2009014251',
 '2010000288_1_E02002478_1_2010000674',
 '2009000155_3_E02001572_1_2009000359',
 '2003002545_4_E02001604_1_2003006190',
 '2010002503_4_E02005789_1_2010005965',
 '2002007170_4_E02001560_1_2002016792',
 '2019001617_7_E02001611_1_2019003814',
 '2018001934_7_E02002368_1_2018004627',
 '2015003687_7_E02001625_1_2015008896',
 '2008001040_5_E02001526_1_2008002399',
 '2013004750_3_E02002694_1_2013011406',
 '2006003374_4_E02001670_1_2006008060',
 '2009008082_3_E02001670_1_2009019380',
 '2005002600_5_E02001639_1_2005006301',
 '2009000271_2_E02001569_1_2009000638',
 '2015003965_5_E02001557_1_2015009540',
 '2003003303_3_E02001575_1_2003008053',
 '2005001769_5_E02001528_1_2005004333',
 '2017003303_1_E02001612_1_2017007902',
 '2010006251_5_E02001643_1_2010014826',
 '2003001129_6_E02001531_1_2003002778',
 '2005005808_2_E02001648_1_2005013989',
 '2010002485_3_E02001650_1_2010005931',
 '2002003450_3_E02001526_1_2002008024',
 '2003004485_2_E02001640_1_2003010842',
 '2015006357_6_E02001578_1_2015015285',
 '2005000228_5_E02001586_1_2005000565',
 '2017002901_1_E02001561_1_2017006974',
 '2007004193_1_E02001588_1_2007010034',
 '2003007727_4_E02001663_1_2003018521',
 '2010002503_2_E02001670_1_2010005965',
 '2009006471_2_E02001547_1_2009015535',
 '2016000289_7_E02001618_1_2016000697',
 '2009002984_4_E02001627_1_2009007155',
 '2017004397_1_E02006843_1_2017010489',
 '2015005581_2_E02001610_1_2015013425',
 '2005001812_3_E02006843_1_2005004429',
 '2016006141_2_E02001669_1_2016014823',
 '2016005090_2_E02001550_1_2016012205',
 '2019002121_7_E02001551_1_2019005027',
 '2019000619_6_E02001547_1_2019001510',
 '2018005849_6_E02006844_1_2018013945',
 '2016007068_2_E02001649_1_2016017066',
 '2014006192_1_E02001618_1_2014014920',
 '2006008783_3_E02001605_1_2006020976',
 '2007003429_5_E02001567_1_2007008228',
 '2006006440_5_E02001512_1_2006015470',
 '2006002601_3_E02001588_1_2006006191',
 '2005004230_3_E02001646_1_2005010200',
 '2014005185_2_E02006869_1_2014012535',
 '2015003687_7_E02001642_1_2015008896',
 '2013000856_3_E02001559_1_2013002027',
 '2007006507_7_E02001553_1_2007015449',
 '2006008816_5_E02001633_1_2006021053',
 '2009005684_4_E02001529_1_2009013585',
 '2018002827_1_E02001550_1_2018006792',
 '2002006420_7_E02001679_1_2002015055',
 '2014002255_5_E02001681_1_2014005444',
 '2010004718_4_E02001594_1_2010011157',
 '2019000724_4_E02001528_1_2019001745',
 '2009006471_1_E02001612_1_2009015535',
 '2006004108_7_E02001605_1_2006009828',
 '2004001015_3_E02001617_1_2004002427',
 '2016005491_3_E02002459_1_2016013185',
 '2002007196_2_E02001568_1_2002016864',
 '2018002636_2_E02001511_1_2018006311',
 '2019000048_3_E02001595_1_2019000102',
 '2013004147_6_E02001592_1_2013009980',
 '2004006904_7_E02001576_1_2004016590',
 '2019005135_1_E02001531_1_2019012012',
 '2007001061_5_E02001575_1_2007002546',
 '2007007262_7_E02001607_1_2007017221',
 '2008001040_1_E02001633_1_2008002398',
 '2007000256_5_E02001576_1_2007000602',
 '2002003438_6_E02001663_1_2002007993',
 '2019006668_5_E02001661_1_2019015711',
 '2009008409_3_E02001654_1_2009020168',
 '2002003438_7_E02001590_1_2002007995',
 '2017004615_4_E02005781_1_2017011031',
 '2009008713_7_E02001561_1_2009020873',
 '2005002649_2_E02001655_1_2005006403',
 '2008008457_3_E02002383_1_2008020058',
 '2009001448_7_E02001555_1_2009003492',
 '2005001079_4_E02001619_1_2005002633',
 '2002004876_2_E02001604_1_2002011447',
 '2012003176_1_E02001540_1_2012007447',
 '2014001459_7_E02001640_1_2014003532',
 '2019000249_6_E02001529_1_2019000580',
 '2016002585_1_E02001533_1_2016006213',
 '2015005122_4_E02002197_1_2015012331',
 '2013006083_7_E02001594_1_2013014590',
 '2003006052_4_E02001556_1_2003014536',
 '2006007200_1_E02001586_1_2006017244',
 '2007006505_4_E02001610_1_2007015443',
 '2013000171_6_E02001567_1_2013000389',
 '2010007707_1_E02001647_1_2010018330',
 '2012007768_5_E02001559_1_2012018376',
 '2018003138_4_E02006803_1_2018007540',
 '2011002682_7_E02001579_1_2011006257',
 '2005007413_4_E02001569_1_2005017884',
 '2003006055_1_E02001580_1_2003014542',
 '2014005384_3_E02001598_1_2014012968',
 '2005004246_2_E02001583_1_2005010247',
 '2017001047_2_E02005790_1_2017002481',
 '2011005787_3_E02001600_1_2011013632',
 '2003002699_3_E02001576_1_2003006565',
 '2011006416_3_E02001654_1_2011015110',
 '2003000242_1_E02001603_1_2003000591',
 '2003004662_1_E02001596_1_2003011273',
 '2010004750_7_E02001583_1_2010011232',
 '2015007547_5_E02001587_1_2015018069',
 '2017004565_3_E02001580_1_2017010907',
 '2012003183_4_E02001579_1_2012007464',
 '2011007303_2_E02001656_1_2011017179',
 '2003006984_4_E02001621_1_2003016738',
 '2005008986_6_E02001600_1_2005021597',
 '2011002727_2_E02001547_1_2011006374',
 '2003007284_4_E02001550_1_2003017450',
 '2005004293_1_E02001651_1_2005010373',
 '2003006504_1_E02001657_1_2003015662',
 '2013000874_1_E02001536_1_2013002072',
 '2014004325_1_E02001653_1_2014010373',
 '2008007698_1_E02001614_1_2008018252',
 '2019001377_7_E02002286_1_2019003261',
 '2007002559_6_E02001624_1_2007006108',
 '2009005970_1_E02001578_1_2009014250',
 '2013001535_2_E02001647_1_2013003734',
 '2012003951_1_E02001522_2_2012009316',
 '2007008743_2_E02001614_1_2007020619',
 '2014001764_7_E02001623_1_2014004305',
 '2005004230_7_E02001648_3_2005010198',
 '2009002243_1_E02001520_1_2009005375',
 '2015000454_6_E02001532_1_2015001092',
 '2006005712_6_E02001622_1_2006013672',
 '2009007541_2_E02001631_1_2009018089',
 '2011007926_4_E02001594_1_2011018654',
 '2004002493_7_E02001662_1_2004005974',
 '2015000752_2_E02001580_1_2015001809',
 '2010006258_5_E02001536_1_2010014847',
 '2004002442_7_E02001583_1_2004005834',
 '2019001281_7_E02001678_1_2019003053',
 '2005000291_6_E02001670_1_2005000704',
 '2018005904_6_E02001604_1_2018014077',
 '2012006926_1_E02001536_1_2012016333',
 '2004001758_4_E02001594_1_2004004227',
 '2011006463_7_E02001582_1_2011015218',
 '2017005523_1_E02006844_1_2017013315',
 '2010000286_5_E02001575_1_2010000667',
 '2015000752_2_E02001614_1_2015001810',
 '2002002745_6_E02001600_1_2002006396',
 '2011004985_5_E02001565_1_2011011702',
 '2010003261_7_E02001585_1_2010007733',
 '2013003587_1_E02001573_1_2013008663',
 '2017001101_3_E02001532_1_2017002601',
 '2005003467_2_E02001514_1_2005008369',
 '2002007170_4_E02001560_1_2002016791',
 '2007001065_1_E02001524_1_2007002560',
 '2008008450_4_E02001534_1_2008020037',
 '2004002497_3_E02006803_1_2004005983',
 '2008006239_7_E02001527_1_2008014800',
 '2011000285_7_E02001651_1_2011000657',
 '2013000874_1_E02001676_1_2013002072',
 '2008008457_3_E02006875_2_2008020058',
 '2016001111_2_E02006803_1_2016002691',
 '2008002483_3_E02001521_1_2008005854',
 '2015000454_4_E02001535_1_2015001092',
 '2012006926_6_E02001659_1_2012016332',
 '2013004162_4_E02001614_1_2013010010',
 '2010006258_5_E02001540_1_2010014847',
 '2019001336_6_E02001593_1_2019003178',
 '2008006986_4_E02006868_1_2008016570',
 '2003006992_5_E02001671_1_2003016762',
 '2019003554_7_E02002694_1_2019008393',
 '2005008970_4_E02001589_1_2005021562',
 '2008000299_6_E02002772_1_2008000677',
 '2009008080_4_E02001625_1_2009019373',
 '2002004905_2_E02001642_1_2002011505',
 '2005005759_6_E02001646_1_2005013871',
 '2014001697_3_E02001678_1_2014004131',
 '2014002339_4_E02001554_1_2014005637',
 '2012002466_1_E02001646_1_2012005769',
 '2012006252_3_E02001559_1_2012014787',
 '2003006052_7_E02001553_1_2003014536',
 '2002003431_6_E02001673_1_2002007977',
 '2019001613_3_E02001603_1_2019003810',
 '2013001535_1_E02001678_1_2013003735',
 '2007007262_2_E02002787_1_2007017221',
 '2004005387_6_E02001634_1_2004012968',
 '2012003181_6_E02001511_1_2012007457',
 '2006007211_3_E02001678_1_2006017269',
 '2006005613_3_E02001642_1_2006013457',
 '2007001108_3_E02001657_1_2007002665',
 '2010000330_7_E02001567_1_2010000775',
 '2002006390_4_E02001533_1_2002014984',
 '2002002763_3_E02001545_1_2002006435',
 '2015005124_7_E02001560_1_2015012334',
 '2008004009_5_E02001555_1_2008009455',
 '2010000330_4_E02001517_1_2010000775',
 '2009007213_4_E02001583_1_2009017309',
 '2019002479_6_E02001553_1_2019005859',
 '2002004186_3_E02001573_1_2002009763',
 '2006000242_3_E02001618_1_2006000571',
 '2004000275_1_E02001675_1_2004000683',
 '2003004686_7_E02001521_1_2003011337',
 '2017006244_1_E02001640_1_2017015028',
 '2011007926_4_E02001573_1_2011018654',
 '2011001320_7_E02001591_1_2011003108',
 '2006004106_5_E02001592_1_2006009824',
 '2004007685_2_E02001603_1_2004018427',
 '2007000272_2_E02001672_1_2007000653',
 '2013003587_1_E02001654_1_2013008663',
 '2004000968_6_E02006869_1_2004002319',
 '2002003431_6_E02006869_1_2002007979',
 '2013004805_2_E02001587_1_2013011527',
 '2003007582_2_E02001589_1_2003018167',
 '2014006149_5_E02001628_1_2014014815',
 '2011003421_2_E02001624_1_2011008036',
 '2016003080_7_E02001652_1_2016007435',
 '2012000243_2_E02001553_1_2012000590',
 '2003005067_5_E02001616_1_2003012206',
 '2003006505_4_E02001658_1_2003015666',
 '2011000234_5_E02001600_1_2011000534',
 '2005002591_4_E02001602_1_2005006279',
 '2012000275_4_E02001578_1_2012000668',
 '2005001792_4_E02001650_1_2005004383',
 '2003002698_6_E02001550_1_2003006561',
 '2008003224_7_E02001575_1_2008007621',
 '2019003025_4_E02001559_1_2019007167',
 '2006006446_5_E02001635_1_2006015491',
 '2014001131_2_E02001622_1_2014002794',
 '2003002545_4_E02001509_1_2003006190',
 '2014006972_4_E02002468_1_2014016816',
 '2002003431_4_E02001606_1_2002007979',
 '2012000292_7_E02001663_1_2012000700',
 '2006002616_3_E02001534_1_2006006225',
 '2014004325_1_E02001595_1_2014010373',
 '2003005284_6_E02006869_1_2003012712',
 '2013002142_1_E02001655_1_2013005177',
 '2013006690_7_E02001609_1_2013016051',
 '2005002584_1_E02001561_1_2005006261',
 '2005005813_4_E02001613_1_2005014007',
 '2010001760_6_E02001635_1_2010004220',
 '2004004667_2_E02001550_1_2004011240',
 '2006004106_6_E02001676_1_2006009824',
 '2006001845_7_E02001540_1_2006004420',
 '2016001902_6_E02001554_1_2016004605',
 '2006002585_6_E02001572_1_2006006160',
 '2019002121_7_E02001634_1_2019005027',
 '2013003561_1_E02001627_1_2013008597',
 '2014006978_4_E02001528_1_2014016830',
 '2016000438_7_E02001622_1_2016001069',
 '2016000291_1_E02001579_1_2016000702',
 '2008001049_6_E02001603_1_2008002426',
 '2016002501_3_E02006843_7_2016005988',
 '2009005340_5_E02005811_1_2009012748',
 '2009000155_3_E02001518_1_2009000359',
 '2015005509_5_E02001614_1_2015013248',
 '2009002995_1_E02002441_1_2009007181',
 '2019000249_4_E02002335_1_2019000582',
 '2004003891_3_E02001669_1_2004009399',
 '2002001314_1_E02001637_1_2002003079',
 '2007002642_1_E02002698_1_2007006304',
 '2014000292_5_E02001536_1_2014000770',
 '2003004755_3_E02001616_1_2003011495',
 '2010004806_4_E02001611_1_2010011400',
 '2014007112_3_E02001673_1_2014017146',
 '2007006507_7_E02001522_1_2007015449',
 '2012000990_7_E02001611_1_2012002319',
 '2010008339_4_E02001592_1_2010019851',
 '2005004238_3_E02002324_1_2005010221',
 '2019002375_6_E02001652_1_2019005614',
 '2008001059_3_E02001662_1_2008002450',
 '2014000123_2_E02001571_1_2014000320',
 '2012006926_5_E02001651_1_2012016333',
 '2007007969_4_E02001594_1_2007018837',
 '2003001656_6_E02001626_1_2003004054',
 '2009008741_5_E02001587_1_2009020942',
 '2008002500_4_E02001627_1_2008005891',
 '2009007917_4_E02001598_1_2009019006',
 '2006004106_6_E02001513_1_2006009824',
 '2007001901_7_E02001627_1_2007004540',
 '2015000010_1_E02001615_1_2015000028',
 '2006004853_1_E02001639_1_2006011653',
 '2009000242_3_E02001628_1_2009000574',
 '2006002528_2_E02001517_1_2006006030',
 '2003000665_7_E02001604_1_2003001621',
 '2007007252_5_E02001548_1_2007017203',
 '2002002745_4_E02001662_1_2002006396',
 '2005005758_5_E02001545_1_2005013870',
 '2006008073_5_E02001639_1_2006019275',
 '2010000265_3_E02001640_1_2010000622',
 '2010001783_2_E02001663_1_2010004272',
 '2003006996_5_E02001601_1_2003016773',
 '2019004033_1_E02001611_1_2019009504',
 '2008001046_3_E02001650_1_2008002417',
 '2006004854_4_E02002412_1_2006011654',
 '2013007371_5_E02001661_1_2013017706',
 '2003002545_1_E02001575_1_2003006190',
 '2017004642_1_E02001596_1_2017011091',
 '2002002700_6_E02001543_1_2002006299',
 '2007005723_2_E02001631_1_2007013612',
 '2002003431_3_E02001609_1_2002007979',
 '2010000983_5_E02001556_1_2010002333',
 '2006004895_2_E02001554_1_2006011733',
 '2003003088_5_E02001626_1_2003007525',
 '2006001019_7_E02001518_1_2006002510',
 '2007002673_1_E02001640_1_2007006374',
 '2003002698_6_E02001550_1_2003006564',
 '2002003431_3_E02002327_1_2002007979',
 '2015005078_4_E02001661_1_2015012231',
 '2009007533_6_E02001622_1_2009018070',
 '2013004750_3_E02001619_1_2013011406',
 '2019002121_7_E02005813_1_2019005028',
 '2004000962_5_E02001680_1_2004002306',

In [10]:
potential_individuals = [
    "2016005585_5_E02001538_1_2016013411",
    "2008003221_6_E02001532_1_2008007614",
    "2006004854_4_E02001609_1_2006011654",
    "2002000535_5_E02001617_1_2002001259",
    "2002007185_4_E02001606_1_2002016833"
]

In [11]:
person_259_df = activities_df[activities_df["pid"] == "2002000535_5_E02001617_1_2002001259"].drop('pid', axis = 1)
person_259_df.to_csv("data/test/person_259_acts.csv", index=False)

In [12]:
person_1_acts = activities_df[
    activities_df["pid"] == "2006004854_4_E02001609_1_2006011654"
]

In [13]:
person_259 = people_df[people_df["pid"] == "2002000535_5_E02001617_1_2002001259"]

In [14]:
person_1 = people_df[people_df["pid"] == "2006004854_4_E02001609_1_2006011654"]

In [15]:
charger_df.head()

,index,lat,lon,device_id,port_count,port_id,address1,city,network_name,power_range_max,power_imputed
0,0,59.034786,-2.905301,1000335565,2,1000335565_1,"Shapinsay Development Trust, Balfour",Orkney,ChargePlace Scotland,22.0,True
1,1,59.034786,-2.905301,1000335565,2,1000335565_2,"Shapinsay Development Trust, Balfour",Orkney,ChargePlace Scotland,200.0,True
2,2,58.982254,-2.973739,1000339545,2,1000339545_1,Muddisdale Road,Kirkwall,"Charge Your Car,ChargePlace Scotland",50.0,True
3,3,58.982254,-2.973739,1000339545,2,1000339545_2,Muddisdale Road,Kirkwall,"Charge Your Car,ChargePlace Scotland",22.0,True
4,4,58.981014,-2.965392,1000339745,3,1000339745_1,"South Car Park, Great Western Road",Kirkwall,"Charge Your Car,ChargePlace Scotland",7.0,True

In [16]:
def get_charge_mode(charge_power):
    if charge_power <= 7.0:
        return 1
    elif charge_power > 7.0 and charge_power <= 22.0:
        return 2
    else:
        return 3

In [17]:
charger_df["charge_mode"] = charger_df["power_range_max"].apply(get_charge_mode)
charger_df.to_csv("data/chargers_with_mode.csv", index=False)
charger_df

,index,lat,lon,device_id,port_count,port_id,address1,city,network_name,power_range_max,power_imputed,charge_mode
0,0,59.034786,-2.905301,1000335565,2,1000335565_1,"Shapinsay Development Trust, Balfour",Orkney,ChargePlace Scotland,22.0,True,2
1,1,59.034786,-2.905301,1000335565,2,1000335565_2,"Shapinsay Development Trust, Balfour",Orkney,ChargePlace Scotland,200.0,True,3
2,2,58.982254,-2.973739,1000339545,2,1000339545_1,Muddisdale Road,Kirkwall,"Charge Your Car,ChargePlace Scotland",50.0,True,3
3,3,58.982254,-2.973739,1000339545,2,1000339545_2,Muddisdale Road,Kirkwall,"Charge Your Car,ChargePlace Scotland",22.0,True,2
4,4,58.981014,-2.965392,1000339745,3,1000339745_1,"South Car Park, Great Western Road",Kirkwall,"Charge Your Car,ChargePlace Scotland",7.0,True,1
...,...,...,...,...,...,...,...,...,...,...,...,...
32656,36138,51.510784,-0.186585,1010414445,1,1010414445_1,"Q-Park Queensway, London 4",London,GreenFlux Netherlands,7.4,False,2
32657,36139,51.510796,-0.186594,1010414435,1,1010414435_1,"Q-Park Queensway, London 3",London,GreenFlux Netherlands,7.4,False,2
32658,36140,51.510830,-0.186600,1010414485,1,1010414485_1,"Q-Park Queensway, London 2",London,GreenFlux Netherlands,7.4,False,2
32659,36141,51.510849,-0.186606,1010414495,1,1010414495_1,"Q-Park Queensway, London 1",London,GreenFlux Netherlands,7.4,False,2
32660,36142,51.510754,-0.189171,1004748255,1,1004748255_1,6 Orme Court,London,ubitricity Gesellschaft fÃ¼r verteilte Energies...,5.5,False,1

In [16]:
person_1.to_csv("data/test/person_1.csv", index=False)

In [17]:
person_1_acts.to_csv("data/test/person_1_acts.csv", index=False)

In [18]:
def create_test_individual_csv(person, output_dir):
    """Create a simplified individual CSV for testing."""
    # Mapping from DP group numbers to activity type names
    group_to_type = {
        1: "home",
        2: "work",
        3: "business",
        4: "shop/visit",
        5: "education",
        6: "depot/medical",
        7: "delivery/visit",
        8: "other/escort",
    }

    individual_data = {
        "pid": person["pid"].values[0],
        "home_x": person["x"].values[0],
        "home_y": person["y"].values[0],
        "work_x": person["x"].values[0],  # Simplified: use home as work
        "work_y": person["y"].values[0],
        "age_group": person["age_group"].values[0],
        "workstatus": person["workstatus"].values[0],
    }

    # Add start times and durations for each group
    for group in range(1, 9):
        if group in group_to_type:
            activity_type = group_to_type[group]

            start_col = f"start_g{group}"
            dur_col = f"dur_g{group}"

            if start_col in person.columns:
                individual_data[f"{activity_type}_start"] = (
                    person[start_col].values[0]
                    if not pd.isna(person[start_col].values[0])
                    else 0
                )
            else:
                individual_data[f"{activity_type}_start"] = 0

            if dur_col in person.columns:
                individual_data[f"{activity_type}_dur"] = (
                    person[dur_col].values[0]
                    if not pd.isna(person[dur_col].values[0])
                    else 12
                )
            else:
                individual_data[f"{activity_type}_dur"] = 12

    individual_df = pd.DataFrame([individual_data])
    output_path = output_dir + "test_individual.csv"
    individual_df.to_csv(output_path, index=False)

    print(f"\nSaved individual data to {output_path}")

    return individual_df

In [86]:
create_test_individual_csv(person_1, "data/test/")

Saved individual data to data/test/test_individual.csv

,pid,home_x,home_y,work_x,work_y,age_group,workstatus,home_start,home_dur,work_start,...,shop/visit_start,shop/visit_dur,education_start,education_dur,depot/medical_start,depot/medical_dur,delivery/visit_start,delivery/visit_dur,other/escort_start,other/escort_dur
0,2006004854_4_E02001609_1_2006011654,454070.0,382249.0,454070.0,382249.0,21-40,True,227.0,39.0,168.0,...,141.0,55.0,104.0,84.0,0,12,0,12,220.0,82.0

In [20]:
charger_df.head()

,index,lat,lon,device_id,port_count,port_id,address1,city,network_name,power_range_max,power_imputed,charge_mode
0,0,59.034786,-2.905301,1000335565,2,1000335565_1,"Shapinsay Development Trust, Balfour",Orkney,ChargePlace Scotland,22.0,True,2
1,1,59.034786,-2.905301,1000335565,2,1000335565_2,"Shapinsay Development Trust, Balfour",Orkney,ChargePlace Scotland,200.0,True,3
2,2,58.982254,-2.973739,1000339545,2,1000339545_1,Muddisdale Road,Kirkwall,"Charge Your Car,ChargePlace Scotland",50.0,True,3
3,3,58.982254,-2.973739,1000339545,2,1000339545_2,Muddisdale Road,Kirkwall,"Charge Your Car,ChargePlace Scotland",22.0,True,2
4,4,58.981014,-2.965392,1000339745,3,1000339745_1,"South Car Park, Great Western Road",Kirkwall,"Charge Your Car,ChargePlace Scotland",7.0,True,1

In [21]:
activities_df.head()

,pid,activity_idx,act_type,x,y,group,earliest_start,latest_start,max_duration,min_duration
0,2002000535_3_E02001543_1_2002001259,1,home,453768.000000,408587.000000,1,0,288,288,2
1,2002000535_3_E02001543_1_2002001259,2,other,453768.000000,408587.000000,8,108,216,120,2
2,2002000535_3_E02001543_1_2002001259,3,home,453768.000000,408587.000000,1,0,288,288,2
3,2002000535_3_E02001543_1_2002001260,1,home,453768.000000,408587.000000,1,0,288,288,2
4,2002000535_3_E02001543_1_2002001260,2,pt interaction,453920.826652,408260.138674,8,108,216,120,2

In [22]:
person_1_acts

,pid,activity_idx,act_type,x,y,group,earliest_start,latest_start,max_duration,min_duration
160581,2006004854_4_E02001609_1_2006011654,1,home,454070.0,382249.0,1,0,288,288,2
160582,2006004854_4_E02001609_1_2006011654,2,other,452811.0,385797.0,8,108,216,120,2
160583,2006004854_4_E02001609_1_2006011654,3,visit,452551.0,385259.0,4,84,276,120,2
160584,2006004854_4_E02001609_1_2006011654,4,escort_shop,452211.0,383737.0,8,108,216,120,2
160585,2006004854_4_E02001609_1_2006011654,5,home,454070.0,382249.0,1,0,288,288,2
160586,2006004854_4_E02001609_1_2006011654,6,other,456492.0,382027.0,8,108,216,120,2
160587,2006004854_4_E02001609_1_2006011654,7,work,474270.0,381532.0,2,60,276,144,2
160588,2006004854_4_E02001609_1_2006011654,8,shop,467941.0,378919.0,4,84,276,120,2
160589,2006004854_4_E02001609_1_2006011654,9,home,454070.0,382249.0,1,0,288,288,2

In [23]:
lat = 59.034786
long = -2.905301
transformer_EN = Transformer.from_crs("EPSG:4326", "EPSG:27700")
transformer_latlong = Transformer.from_crs("EPSG:27700","EPSG:4326")

In [24]:
easting, northing = transformer_EN.transform(lat, long)

print(f"easting {easting}, northing {northing}")

easting 348140.4097676404, northing 1016769.9346357614

In [25]:
lat, long = transformer_latlong.transform(easting, northing)

In [26]:
print(f"lat {lat}, long {long}")

lat 59.034786, long -2.905301000000004

In [27]:
charger_df['x'], charger_df['y'] = transformer_EN.transform(charger_df['lat'], charger_df['lon'])

In [28]:
charger_df

,index,lat,lon,device_id,port_count,port_id,address1,city,network_name,power_range_max,power_imputed,charge_mode,x,y
0,0,59.034786,-2.905301,1000335565,2,1000335565_1,"Shapinsay Development Trust, Balfour",Orkney,ChargePlace Scotland,22.0,True,2,348140.404705,1.016770e+06
1,1,59.034786,-2.905301,1000335565,2,1000335565_2,"Shapinsay Development Trust, Balfour",Orkney,ChargePlace Scotland,200.0,True,3,348140.404705,1.016770e+06
2,2,58.982254,-2.973739,1000339545,2,1000339545_1,Muddisdale Road,Kirkwall,"Charge Your Car,ChargePlace Scotland",50.0,True,3,344127.360009,1.010976e+06
3,3,58.982254,-2.973739,1000339545,2,1000339545_2,Muddisdale Road,Kirkwall,"Charge Your Car,ChargePlace Scotland",22.0,True,2,344127.360009,1.010976e+06
4,4,58.981014,-2.965392,1000339745,3,1000339745_1,"South Car Park, Great Western Road",Kirkwall,"Charge Your Car,ChargePlace Scotland",7.0,True,1,344605.132031,1.010831e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32656,36138,51.510784,-0.186585,1010414445,1,1010414445_1,"Q-Park Queensway, London 4",London,GreenFlux Netherlands,7.4,False,2,525938.330356,1.806535e+05
32657,36139,51.510796,-0.186594,1010414435,1,1010414435_1,"Q-Park Queensway, London 3",London,GreenFlux Netherlands,7.4,False,2,525937.674312,1.806548e+05
32658,36140,51.510830,-0.186600,1010414485,1,1010414485_1,"Q-Park Queensway, London 2",London,GreenFlux Netherlands,7.4,False,2,525937.162889,1.806586e+05
32659,36141,51.510849,-0.186606,1010414495,1,1010414495_1,"Q-Park Queensway, London 1",London,GreenFlux Netherlands,7.4,False,2,525936.693633,1.806607e+05
32660,36142,51.510754,-0.189171,1004748255,1,1004748255_1,6 Orme Court,London,ubitricity Gesellschaft fÃ¼r verteilte Energies...,5.5,False,1,525758.972567,1.806457e+05

In [30]:
for _, act in person_1_acts.iterrows():
    act_x, act_y = act['x'], act['y']
    charger_df["distance"] = np.sqrt((charger_df['x']-act_x)**2 + (charger_df['y']-act_y)**2)

In [33]:
charger_df = charger_df.drop('power_imputed', axis=1)

In [34]:
charger_df

,index,lat,lon,device_id,port_count,port_id,address1,city,network_name,power_range_max,charge_mode,x,y,distance
0,0,59.034786,-2.905301,1000335565,2,1000335565_1,"Shapinsay Development Trust, Balfour",Orkney,ChargePlace Scotland,22.0,2,348140.404705,1.016770e+06,643302.360348
1,1,59.034786,-2.905301,1000335565,2,1000335565_2,"Shapinsay Development Trust, Balfour",Orkney,ChargePlace Scotland,200.0,3,348140.404705,1.016770e+06,643302.360348
2,2,58.982254,-2.973739,1000339545,2,1000339545_1,Muddisdale Road,Kirkwall,"Charge Your Car,ChargePlace Scotland",50.0,3,344127.360009,1.010976e+06,638267.211368
3,3,58.982254,-2.973739,1000339545,2,1000339545_2,Muddisdale Road,Kirkwall,"Charge Your Car,ChargePlace Scotland",22.0,2,344127.360009,1.010976e+06,638267.211368
4,4,58.981014,-2.965392,1000339745,3,1000339745_1,"South Car Park, Great Western Road",Kirkwall,"Charge Your Car,ChargePlace Scotland",7.0,1,344605.132031,1.010831e+06,638042.229237
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32656,36138,51.510784,-0.186585,1010414445,1,1010414445_1,"Q-Park Queensway, London 4",London,GreenFlux Netherlands,7.4,2,525938.330356,1.806535e+05,214022.887610
32657,36139,51.510796,-0.186594,1010414435,1,1010414435_1,"Q-Park Queensway, London 3",London,GreenFlux Netherlands,7.4,2,525937.674312,1.806548e+05,214021.483607
32658,36140,51.510830,-0.186600,1010414485,1,1010414485_1,"Q-Park Queensway, London 2",London,GreenFlux Netherlands,7.4,2,525937.162889,1.806586e+05,214017.724664
32659,36141,51.510849,-0.186606,1010414495,1,1010414495_1,"Q-Park Queensway, London 1",London,GreenFlux Netherlands,7.4,2,525936.693633,1.806607e+05,214015.579332
32660,36142,51.510754,-0.189171,1004748255,1,1004748255_1,6 Orme Court,London,ubitricity Gesellschaft fÃ¼r verteilte Energies...,5.5,1,525758.972567,1.806457e+05,213970.109997

In [62]:
nearby = charger_df[charger_df['distance']<=20000]

In [66]:
charger_df[charger_df['city']=="Sheffield"]

,index,lat,lon,device_id,port_count,port_id,address1,city,network_name,power_range_max,charge_mode,x,y,distance
6450,6450,53.525627,-1.627380,1001397615,2,1001397615_1,Penistone,Sheffield,Chargemaster (POLAR),50.00,3,424800.125354,403280.641272,36042.412466
6451,6451,53.525627,-1.627380,1001397615,2,1001397615_2,Penistone,Sheffield,Chargemaster (POLAR),22.00,2,424800.125354,403280.641272,36042.412466
7218,7218,53.461644,-1.491865,6712215,2,6712215_1,Acorn,Sheffield,RAW Charging,22.08,3,433834.554274,396217.786791,24588.620705
7219,7219,53.461644,-1.491865,6712215,2,6712215_2,Acorn,Sheffield,RAW Charging,22.08,3,433834.554274,396217.786791,24588.620705
7220,7220,53.461647,-1.491792,6712235,2,6712235_1,Acorn,Sheffield,RAW Charging,38.40,3,433839.396831,396218.136172,24584.834146
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8839,8839,53.315617,-1.281415,1000356985,2,1000356985_2,"M1 Motorway Southbound, Jct 30/31,Woodall",Sheffield,Ecotricity (Electric Highway),22.00,2,447970.582499,380092.039067,6469.572963
8866,8866,53.315159,-1.282853,1000356465,2,1000356465_1,"M1 Motorway Northbound, Jct 30/31,Woodall",Sheffield,Ecotricity (Electric Highway),3.00,1,447875.292542,380040.149956,6576.733156
8867,8867,53.315159,-1.282853,1000356465,2,1000356465_2,"M1 Motorway Northbound, Jct 30/31,Woodall",Sheffield,Ecotricity (Electric Highway),7.00,1,447875.292542,380040.149956,6576.733156
8868,8868,53.315159,-1.282853,1000358355,2,1000358355_1,"M1 Motorway Northbound, Jct 30/31,Woodall",Sheffield,Ecotricity (Electric Highway),200.00,3,447875.292542,380040.149956,6576.733156
8869,8869,53.315159,-1.282853,1000358355,2,1000358355_2,"M1 Motorway Northbound, Jct 30/31,Woodall",Sheffield,Ecotricity (Electric Highway),7.00,1,447875.292542,380040.149956,6576.733156

In [61]:
200*5/60

16.666666666666668