In [1]:
import pandas as pd
import numpy as np
import argparse

from pyproj import Transformer
from pathlib import Path

In [2]:
people_df = pd.read_csv("data/persons_home_depot_with_start_duration_draws.csv")
activities_df = pd.read_csv("data/activities_long_with_groups_selected_plus.csv")
charger_df = pd.read_csv("data/charger_location_attributes_dropped_final.csv")

/var/folders/p0/bcd_l4996lz24gnzf87fwjm80000gn/T/ipykernel_30221/3100424587.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  people_df = pd.read_csv("data/persons_home_depot_with_start_duration_draws.csv")

In [3]:
people_df.head()

,pid,x,y,hhincome,workstatus,gender,age_group,group,start_g1,dur_g1,...,start_g4,dur_g4,start_g5,dur_g5,start_g6,dur_g6,start_g7,dur_g7,start_g8,dur_g8
0,2002000535_3_E02001543_1_2002001259,453768.0,408587.0,low,False,male,65+,1,0.0,156.0,...,159.0,12.0,287.0,35.0,NaN,NaN,NaN,NaN,148.0,149.0
1,2002000535_3_E02001543_1_2002001260,453768.0,408587.0,low,False,female,65+,1,0.0,138.0,...,127.0,5.0,148.0,36.0,NaN,NaN,NaN,NaN,149.0,4.0
2,2002000535_5_E02001617_1_2002001259,437044.0,393175.0,low,False,male,65+,1,224.0,169.0,...,128.0,164.0,147.0,35.0,NaN,NaN,NaN,NaN,108.0,20.0
3,2002000535_5_E02001617_1_2002001260,437044.0,393175.0,low,False,female,65+,1,122.0,136.0,...,177.0,46.0,147.0,35.0,NaN,NaN,NaN,NaN,130.0,29.0
4,2002000536_7_E02001588_1_2002001261,440254.0,394149.0,low,False,female,65+,1,0.0,114.0,...,109.0,71.0,287.0,8.0,NaN,NaN,NaN,NaN,242.0,67.0

In [4]:
activities_df.head()

,pid,activity_idx,act_type,x,y,group,earliest_start,latest_start,max_duration,min_duration
0,2002000535_3_E02001543_1_2002001259,1,home,453768.000000,408587.000000,1,0,288,288,2
1,2002000535_3_E02001543_1_2002001259,2,other,453768.000000,408587.000000,8,108,216,120,2
2,2002000535_3_E02001543_1_2002001259,3,home,453768.000000,408587.000000,1,0,288,288,2
3,2002000535_3_E02001543_1_2002001260,1,home,453768.000000,408587.000000,1,0,288,288,2
4,2002000535_3_E02001543_1_2002001260,2,pt interaction,453920.826652,408260.138674,8,108,216,120,2

In [6]:
# unique_pairs = (
#     activities_df[["act_type", "group"]].drop_duplicates().sort_values("group")
# )
# unique_pairs

In [7]:
activities_df["pid"].unique()

array(['2002000535_3_E02001543_1_2002001259',
       '2002000535_3_E02001543_1_2002001260',
       '2002000535_5_E02001617_1_2002001259', ..., 'LGV_997', 'LGV_998',
       'LGV_999'], shape=(131262,), dtype=object)

In [8]:
pids_with_2_or_5 = activities_df[activities_df["group"].isin([2, 5])]["pid"].unique()
pids_with_4 = activities_df[activities_df["group"].isin([4])]["pid"].unique()
pids_with_8 = activities_df[activities_df["group"].isin([8])]["pid"].unique()

In [9]:
pids_with_both = set(pids_with_2_or_5).intersection(set(pids_with_4))
pids_with_all = set(pids_with_both).intersection(set(pids_with_8))

In [10]:
pids_with_all

{'2011006405_7_E02001553_1_2011015081',
 '2012000945_2_E02001600_1_2012002220',
 '2019003821_5_E02001585_1_2019008992',
 '2007000272_2_E02001672_1_2007000653',
 '2011006416_6_E02001590_1_2011015110',
 '2007003403_4_E02001663_1_2007008157',
 '2006008808_2_E02001574_1_2006021031',
 '2014002512_1_E02001534_1_2014006052',
 '2003008826_4_E02001569_1_2003021072',
 '2008004005_3_E02001589_1_2008009445',
 '2018001299_2_E02001627_1_2018003127',
 '2016002681_5_E02001525_1_2016006444',
 '2012003186_2_E02001607_1_2012007476',
 '2005003396_7_E02001634_1_2005008199',
 '2012003909_5_E02001591_1_2012009215',
 '2010000288_1_E02002478_1_2010000674',
 '2012000990_7_E02001625_1_2012002322',
 '2007002642_1_E02001678_1_2007006303',
 '2007007262_6_E02001559_1_2007017221',
 '2015002641_5_E02001619_1_2015006354',
 '2008001756_7_E02001602_1_2008004107',
 '2011000285_7_E02001576_1_2011000657',
 '2005001769_6_E02001586_1_2005004331',
 '2019001141_6_E02006843_2_2019002740',
 '2003006607_7_E02001652_1_2003015888',
 '2009005684_4_E02001579_1_2009013585',
 '2007002588_6_E02001627_1_2007006176',
 '2019001132_1_E02001528_1_2019002714',
 '2013007371_4_E02001595_1_2013017706',
 '2012003909_5_E02001591_1_2012009214',
 '2004003163_6_E02001631_1_2004007662',
 '2005005758_5_E02001569_1_2005013870',
 '2016006141_2_E02002357_1_2016014823',
 '2005005758_3_E02001681_1_2005013870',
 '2005001033_3_E02001651_1_2005002517',
 '2005004246_6_E02005812_1_2005010245',
 '2014007105_4_E02001647_1_2014017131',
 '2009005340_5_E02002461_1_2009012748',
 '2007003437_6_E02001613_1_2007008244',
 '2015006407_7_E02006803_1_2015015401',
 '2015000454_5_E02001655_1_2015001090',
 '2012002423_6_E02001602_1_2012005665',
 '2005005058_1_E02001595_1_2005012151',
 '2002007176_7_E02001635_1_2002016808',
 '2003001133_5_E02001660_1_2003002788',
 '2006002620_4_E02001537_1_2006006233',
 '2004000275_1_E02001663_1_2004000684',
 '2005001767_7_E02001619_1_2005004328',
 '2005000241_1_E02001652_1_2005000598',
 '2004005387_6_E02001521_1_2004012967',
 '2014002625_2_E02001547_1_2014006345',
 '2005001054_6_E02001595_1_2005002579',
 '2002003438_7_E02001519_1_2002007995',
 '2016001947_6_E02001615_1_2016004697',
 '2003005067_5_E02001605_1_2003012206',
 '2012006926_6_E02001659_1_2012016332',
 '2009002622_1_E02001574_1_2009006243',
 '2007007252_3_E02001564_1_2007017203',
 '2005004293_2_E02001545_1_2005010374',
 '2014001455_4_E02001548_1_2014003523',
 '2016000291_2_E02002327_1_2016000703',
 '2015003753_1_E02001671_1_2015009062',
 '2002007176_7_E02001624_1_2002016808',
 '2014006719_7_E02001664_1_2014016189',
 '2013002835_2_E02001610_1_2013006853',
 '2017004619_4_E02001673_1_2017011040',
 '2016005062_2_E02001529_1_2016012139',
 '2015005124_7_E02001560_1_2015012334',
 '2008005509_4_E02001566_1_2008013047',
 '2007000201_5_E02001557_1_2007000478',
 '2012003951_1_E02001522_1_2012009316',
 '2002007895_3_E02001631_1_2002018594',
 '2003003153_1_E02001564_1_2003007685',
 '2006001142_6_E02001595_1_2006002794',
 '2006007243_3_E02001624_1_2006017359',
 '2018006685_1_E02001572_1_2018015918',
 '2009008077_6_E02001663_1_2009019360',
 '2018004591_7_E02001562_1_2018010941',
 '2011006489_6_E02006869_1_2011015264',
 '2004003163_6_E02001534_1_2004007662',
 '2006003346_4_E02001619_1_2006007973',
 '2004008479_7_E02001616_1_2004020372',
 '2010007669_2_E02001554_1_2010018243',
 '2012000990_7_E02001625_1_2012002321',
 '2002004186_3_E02001573_1_2002009763',
 '2005004232_4_E02001563_1_2005010207',
 '2016001002_1_E02001618_1_2016002434',
 '2005000241_4_E02006868_1_2005000598',
 '2019005485_5_E02006869_1_2019012882',
 '2015006357_6_E02001578_1_2015015285',
 '2016003344_1_E02001519_1_2016008062',
 '2007007961_1_E02001572_1_2007018814',
 '2014007112_3_E02006869_1_2014017146',
 '2011007926_7_E02001521_1_2011018654',
 '2011007303_2_E02001623_1_2011017179',
 '2006001845_7_E02001540_1_2006004420',
 '2012003236_7_E02001536_1_2012007611',
 '2006005685_4_E02001564_1_2006013620',
 '2013005419_3_E02001629_1_2013013003',
 '2007003417_2_E02001552_1_2007008198',
 '2004002482_5_E02001648_1_2004005943',
 '2015004313_3_E02001606_1_2015010413',
 '2006004106_5_E02001592_1_2006009824',
 '2012006926_5_E02001589_1_2012016332',
 '2013000880_7_E02001629_1_2013002089',
 '2007002559_6_E02001621_1_2007006108',
 '2002005681_6_E02001610_1_2002013275',
 '2005000241_1_E02001628_1_2005000598',
 '2013004750_3_E02001619_1_2013011406',
 '2011006489_7_E02001598_1_2011015264',
 '2003003986_7_E02001681_1_2003009671',
 '2012006195_4_E02001666_1_2012014656',
 '2004000954_7_E02001586_1_2004002292',
 '2007006451_3_E02001563_1_2007015331',
 '2005000284_7_E02001529_1_2005000691',
 '2009002622_7_E02001674_1_2009006240',
 '2017002722_1_E02001655_1_2017006520',
 '2014006249_6_E02001586_1_2014015063',
 '2002007183_4_E02001588_1_2002016829',
 '2016001902_2_E02002436_1_2016004605',
 '2017004043_3_E02001613_1_2017009663',
 '2009008082_7_E02001569_1_2009019380',
 '2018006679_4_E02006843_2_2018015904',
 '2012001658_7_E02001604_1_2012003874',
 '2006005685_4_E02001605_1_2006013620',
 '2019004534_1_E02001633_1_2019010605',
 '2019000048_2_E02001545_1_2019000102',
 '2019002121_7_E02001531_1_2019005028',
 '2005008987_7_E02001565_1_2005021598',
 '2017003117_1_E02006803_1_2017007472',
 '2005004271_3_E02001660_1_2005010313',
 '2010000983_4_E02001552_1_2010002333',
 '2015003691_7_E02001524_1_2015008905',
 '2002007198_5_E02001602_1_2002016869',
 '2016005529_1_E02001656_1_2016013272',
 '2006001108_3_E02001634_1_2006002717',
 '2011004259_2_E02001586_1_2011010030',
 '2010002514_5_E02001642_1_2010005991',
 '2009005808_3_E02001657_1_2009013899',
 '2005002649_3_E02001631_1_2005006403',
 '2009000720_6_E02001536_1_2009001735',
 '2011003343_3_E02005759_1_2011007837',
 '2003006996_5_E02001601_1_2003016773',
 '2005004230_3_E02001648_1_2005010200',
 '2014002577_1_E02001599_1_2014006218',
 '2007004193_1_E02001588_1_2007010033',
 '2019002479_7_E02001582_1_2019005859',
 '2017002731_2_E02001587_1_2017006542',
 '2002000567_3_E02001537_1_2002001331',
 '2010000264_7_E02006844_1_2010000618',
 '2006004106_4_E02001607_1_2006009824',
 '2010004806_4_E02006868_1_2010011400',
 '2002007170_4_E02001652_1_2002016792',
 '2002003431_5_E02001654_1_2002007978',
 '2002007185_2_E02001535_1_2002016833',
 '2010007670_3_E02001565_1_2010018245',
 '2013002142_1_E02001655_1_2013005177',
 '2016003344_1_E02001649_1_2016008062',
 '2019006492_2_E02001648_1_2019015303',
 '2007003413_6_E02001552_1_2007008188',
 '2005001048_6_E02001652_1_2005002562',
 '2006005667_4_E02001559_1_2006013578',
 '2005005808_2_E02001570_1_2005013989',
 '2016000289_7_E02001618_1_2016000697',
 '2002000592_7_E02001604_1_2002001399',
 '2005005813_4_E02001613_1_2005014007',
 '2014006972_4_E02002468_1_2014016816',
 '2007001108_3_E02001657_1_2007002665',
 '2019002953_3_E02001559_1_2019006991',
 '2002008669_6_E02001580_1_2002020439',
 '2016005585_5_E02001567_1_2016013411',
 '2006004106_5_E02001592_1_2006009826',
 '2005002607_1_E02001522_1_2005006314',
 '2010000263_3_E02006843_1_2010000611',
 '2003003303_3_E02001575_1_2003008053',
 '2019000242_2_E02001574_1_2019000564',
 '2004002444_5_E02001606_1_2004005839',
 '2008005552_7_E02001531_1_2008013147',
 '2002000548_3_E02001550_1_2002001291',
 '2015005581_4_E02001614_1_2015013425',
 '2019000249_3_E02001595_1_2019000580',
 '2008000286_4_E02001540_1_2008000655',
 '2009002994_2_E02001514_1_2009007179',
 '2016006141_2_E02001619_1_2016014823',
 '2008000299_6_E02002772_1_2008000677',
 '2012000267_6_E02001575_1_2012000648',
 '2015005073_6_E02001560_1_2015012218',
 '2003006983_2_E02001577_1_2003016737',
 '2014004796_4_E02001597_1_2014011572',
 '2009002622_1_E02001579_1_2009006242',
 '2006004108_5_E02001618_1_2006009829',
 '2013002130_2_E02006868_1_2013005153',
 '2007004192_5_E02001610_1_2007010028',
 '2004002442_7_E02001583_1_2004005834',
 '2002004186_3_E02001622_1_2002009763',
 '2002004911_4_E02001591_1_2002011520',
 '2013002822_6_E02001548_1_2013006830',
 '2012000993_6_E02001577_1_2012002325',
 '2017002368_3_E02001647_1_2017005667',
 '2003006052_2_E02001561_1_2003014536',
 '2016006139_3_E02001681_1_2016014820',
 '2004007685_2_E02001532_1_2004018427',
 '2011001959_7_E02001537_1_2011004538',
 '2018004621_1_E02001584_1_2018011011',
 '2017001099_4_E02001627_1_2017002599',
 '2002007167_4_E02001562_1_2002016784',
 '2007000291_6_E02001521_1_2007000696',
 '2010005452_7_E02001618_1_2010012970',
 '2002007170_4_E02001560_1_2002016791',
 '2007008844_3_E02005759_1_2007020869',
 '2014001697_6_E02001538_1_2014004131',
 '2003002545_4_E02001588_1_2003006190',
 '2013001531_2_E02001655_1_2013003728',
 '2009007917_4_E02001583_1_2009019006',
 '2013000163_1_E02001633_1_2013000374',
 '2018002250_1_E02001629_1_2018005372',
 '2003006607_3_E02001638_1_2003015889',
 '2011002727_2_E02001660_1_2011006372',
 '2003001568_6_E02001602_1_2003003834',
 '2010001783_5_E02001561_1_2010004272',
 '2016000291_2_E02001534_1_2016000702',
 '2013000901_2_E02002725_1_2013002146',
 '2005006612_3_E02001655_1_2005015968',
 '2017001349_1_E02001515_1_2017003183',
 '2014002250_6_E02002290_1_2014005433',
 '2004006977_6_E02001665_1_2004016779',
 '2013000895_1_E02001661_1_2013002126',
 '2003000037_3_E02001637_1_2003000083',
 '2016005491_3_E02002459_1_2016013185',
 '2002007910_5_E02001584_1_2002018629',
 '2013004805_2_E02001651_1_2013011527',
 '2003002545_1_E02001570_1_2003006190',
 '2005000292_4_E02001558_1_2005000709',
 '2011000244_6_E02002385_1_2011000558',
 '2010000264_7_E02006844_1_2010000619',
 '2017000453_3_E02001582_1_2017001036',
 '2011007926_4_E02001573_1_2011018654',
 '2007003403_4_E02001567_1_2007008157',
 '2008005552_1_E02001567_1_2008013146',
 '2011004234_4_E02001589_1_2011009971',
 '2012003231_7_E02001591_1_2012007593',
 '2013003587_1_E02001531_1_2013008663',
 '2009002243_1_E02001520_1_2009005375',
 '2005002588_5_E02001551_1_2005006271',
 '2013006723_3_E02001671_1_2013016132',
 '2011000912_6_E02001521_1_2011002171',
 '2009008409_2_E02001661_1_2009020168',
 '2003000242_1_E02001602_1_2003000589',
 '2017002081_6_E02001522_1_2017004968',
 '2002004190_6_E02001567_1_2002009774',
 '2019006665_1_E02001598_1_2019015704',
 '2006001845_7_E02001614_1_2006004420',
 '2011001965_4_E02001592_1_2011004553',
 '2014005384_5_E02001643_1_2014012968',
 '2008006239_1_E02001664_1_2008014799',
 '2004007728_4_E02001651_1_2004018539',
 '2019005199_5_E02001521_1_2019012162',
 '2017004602_4_E02001522_1_2017011000',
 '2004004667_5_E02001530_1_2004011240',
 '2019006056_3_E02001584_1_2019014306',
 '2005001769_7_E02001568_1_2005004331',
 '2002008670_4_E02001676_1_2002020443',
 '2008005521_7_E02001675_1_2008013078',
 '2007007964_3_E02001596_1_2007018826',
 '2004006197_5_E02001569_1_2004014907',
 '2009000148_4_E02001535_1_2009000342',
 '2019004894_3_E02001637_1_2019011456',
 '2004007736_1_E02001521_1_2004018560',
 '2007001080_1_E02002392_2_2007002595',
 '2019002118_5_E02001613_1_2019005017',
 '2007007240_7_E02001673_1_2007017169',
 '2011002682_7_E02001604_1_2011006257',
 '2016004920_1_E02001563_1_2016011816',
 '2008008457_3_E02006843_2_2008020060',
 '2014001697_3_E02002754_1_2014004131',
 '2011006487_7_E02001623_1_2011015262',
 '2007007252_3_E02001678_1_2007017203',
 '2006008763_6_E02002281_1_2006020927',
 '2018005180_2_E02001570_1_2018012329',
 '2012003183_4_E02001579_1_2012007462',
 '2019006665_3_E02001608_1_2019015703',
 '2014001697_7_E02005759_1_2014004131',
 '2006005718_5_E02002258_1_2006013685',
 '2003003094_6_E02001520_1_2003007542',
 '2004004678_2_E02001569_1_2004011272',
 '2002007881_5_E02001650_1_2002018564',
 '2005001831_1_E02001650_1_2005004472',
 '2003000242_1_E02001603_1_2003000591',
 '2014006149_5_E02001628_1_2014014815',
 '2006002601_3_E02001642_1_2006006191',
 '2009001445_1_E02001649_1_2009003487',
 '2007002588_6_E02001606_1_2007006176',
 '2013004140_6_E02001633_1_2013009967',
 '2006004106_6_E02001564_1_2006009824',
 '2016006966_5_E02001534_1_2016016840',
 '2013000901_2_E02001661_1_2013002144',
 '2014002776_1_E02001600_1_2014006697',
 '2002006420_7_E02001526_1_2002015055',
 '2004004664_2_E02001676_1_2004011235',
 '2015002640_5_E02001531_1_2015006351',
 '2010000323_7_E02001651_1_2010000763',
 '2012000993_6_E02001577_1_2012002326',
 '2013004140_6_E02001664_1_2013009967',
 '2009007541_7_E02001557_1_2009018090',
 '2005006562_4_E02001548_1_2005015854',
 '2010006966_7_E02001595_1_2010016522',
 '2003003153_5_E02002438_1_2003007685',
 '2005000230_1_E02001523_1_2005000568',
 '2013000882_7_E02001664_1_2013002095',
 '2005002600_5_E02001639_1_2005006301',
 '2005004276_5_E02001527_1_2005010328',
 '2007006518_1_E02001531_1_2007015477',
 '2011001320_7_E02001591_1_2011003107',
 '2004000275_3_E02001534_1_2004000683',
 '2004000291_3_E02001663_1_2004000721',
 '2010000983_5_E02001556_1_2010002333',
 '2007000218_7_E02001661_1_2007000521',
 '2014002250_1_E02001647_1_2014005432',
 '2014004977_1_E02001680_1_2014012015',
 '2012002482_1_E02001663_1_2012005803',
 '2010002485_3_E02006868_1_2010005932',
 '2009008409_5_E02001660_1_2009020168',
 '2017003303_1_E02001621_1_2017007902',
 '2004002483_2_E02001595_1_2004005949',
 '2002007910_5_E02001584_1_2002018628',
 '2013000888_5_E02006803_1_2013002107',
 '2016007062_7_E02001674_1_2016017054',
 '2012000935_7_E02001613_1_2012002194',
 '2019004518_7_E02001631_1_2019010569',
 '2013000882_7_E02002720_1_2013002094',
 '2004003219_1_E02001666_1_2004007801',
 '2007000294_2_E02001528_1_2007000706',
 '2011005737_1_E02001580_1_2011013487',
 '2017000648_1_E02001553_1_2017001514',
 '2003006055_1_E02001580_1_2003014541',
 '2016002586_1_E02002418_1_2016006216',
 '2005004277_4_E02001587_1_2005010332',
 '2006004088_7_E02001582_1_2006009774',
 '2013002815_5_E02001638_1_2013006811',
 '2018006685_1_E02001520_1_2018015918',
 '2010002503_2_E02001670_1_2010005965',
 '2014001133_4_E02001632_1_2014002802',
 '2008001049_6_E02001617_1_2008002426',
 '2018000052_3_E02001551_1_2018000106',
 '2017006122_3_E02001627_1_2017014736',
 '2006004822_3_E02001609_1_2006011574',
 '2003006984_3_E02001618_1_2003016740',
 '2004003909_1_E02001674_1_2004009430',
 '2008007783_4_E02001681_1_2008018434',
 '2010006926_3_E02001571_1_2010016426',
 '2002000555_7_E02001671_1_2002001306',
 '2007003403_4_E02001618_1_2007008157',
 '2014002069_7_E02001661_1_2014005039',
 '2017002901_2_E02001624_1_2017006974',
 '2015003687_7_E02001625_1_2015008896',
 '2002007186_4_E02001637_1_2002016836',
 '2004003219_1_E02001548_1_2004007801',
 '2008006239_5_E02001633_1_2008014800',
 '2012000990_7_E02001552_1_2012002319',
 '2017004606_1_E02001605_1_2017011008',
 '2006005685_4_E02001540_1_2006013620',
 '2009008739_5_E02001632_1_2009020935',
 '2002004905_3_E02001634_1_2002011505',
 '2014001697_7_E02005791_1_2014004131',
 '2008006305_7_E02001560_1_2008014975',
 '2009002622_7_E02006869_1_2009006240',
 '2006007197_6_E02001522_1_2006017239',
 '2003003088_7_E02001674_1_2003007525',
 '2015000451_4_E02001574_1_2015001083',
 '2008005509_4_E02001547_1_2008013047',
 '2014001697_6_E02001613_1_2014004131',
 '2010006923_2_E02001578_1_2010016418',
 '2015002939_3_E02001601_1_2015007084',
 '2004002493_7_E02001662_1_2004005974',
 '2003002698_4_E02005788_1_2003006561',
 '2008001058_4_E02001554_1_2008002446',
 '2014002077_2_E02001522_1_2014005055',
 '2010007707_1_E02001666_1_2010018331',
 '2006006446_5_E02002725_1_2006015491',
 '2005005758_6_E02001606_1_2005013870',
 '2004000275_1_E02001675_1_2004000683',
 '2019002982_2_E02006843_2_2019007063',
 '2014001615_1_E02001569_1_2014003907',
 '2016003080_7_E02001652_1_2016007435',
 '2008004005_4_E02001545_1_2008009445',
 '2011004920_6_E02001609_1_2011011570',
 '2004007736_5_E02001661_1_2004018560',
 '2008006990_4_E02001529_1_2008016581',
 '2002001314_2_E02001588_1_2002003079',
 '2008005490_6_E02001579_1_2008012998',
 '2016002501_7_E02006843_4_2016005988',
 '2004006930_2_E02001609_1_2004016672',
 '2013002126_1_E02001515_1_2013005148',
 '2016005529_1_E02005817_1_2016013272',
 '2008006301_7_E02001535_1_2008014965',
 '2005005756_7_E02006869_1_2005013862',
 '2019003554_7_E02001664_1_2019008392',
 '2005005808_2_E02001650_1_2005013989',
 '2003004662_1_E02001596_1_2003011271',
 '2013006054_2_E02001531_1_2013014515',
 '2018001718_1_E02001568_1_2018004106',
 '2007003413_6_E02001521_1_2007008188',
 '2010004738_2_E02001630_1_2010011200',
 '2018003133_7_E02001632_1_2018007530',
 '2004007736_5_E02001557_1_2004018560',
 '2007000272_2_E02001665_1_2007000651',
 '2009000273_3_E02001616_1_2009000641',
 '2002001977_5_E02006869_1_2002004636',
 '2018004602_2_E02001584_1_2018010970',
 '2003001575_4_E02001638_1_2003003851',
 '2006002616_3_E02001574_1_2006006225',
 '2006007990_4_E02001558_1_2006019089',
 '2015002217_5_E02001672_1_2015005369',
 '2008003168_2_E02006869_1_2008007496',
 '2002007167_1_E02001590_1_2002016784',
 '2013006718_5_E02001613_1_2013016115',
 '2019006667_6_E02001560_1_2019015708',
 '2002002745_4_E02002709_1_2002006396',
 '2007000272_2_E02001674_1_2007000653',
 '2003006516_6_E02001649_1_2003015689',
 '2018005849_5_E02001640_1_2018013945',
 '2009006407_2_E02001577_1_2009015373',
 '2006007986_4_E02005779_1_2006019075',
 '2015000005_1_E02001602_1_2015000014',
 '2003002545_1_E02001624_1_2003006190',
 '2009006471_3_E02001629_1_2009015535',
 '2008001004_2_E02001619_1_2008002323',
 '2005008984_1_E02001632_1_2005021591',
 '2003000041_4_E02001636_1_2003000095',
 '2015005509_5_E02001571_1_2015013248',
 '2011001912_7_E02001617_1_2011004430',
 '2008003165_6_E02001649_1_2008007489',
 '2005002630_5_E02001610_1_2005006363',
 '2003001662_4_E02001599_1_2003004070',
 '2010002503_2_E02001669_1_2010005965',
 '2006004106_6_E02001534_1_2006009826',
 '2014003310_7_E02001549_1_2014007990',
 '2009005386_4_E02001658_1_2009012860',
 '2018000745_7_E02001613_1_2018001797',
 '2011001959_7_E02001624_1_2011004538',
 '2016007062_5_E02001520_1_2016017054',
 '2016002501_3_E02006843_2_2016005987',
 '2009001426_7_E02001520_1_2009003446',
 '2003000669_3_E02001569_1_2003001629',
 '2004002504_4_E02001532_1_2004006001',
 '2013006739_6_E02001639_1_2013016162',
 '2017000956_5_E02001636_1_2017002270',
 '2002001992_2_E02001610_1_2002004668',
 '2010001837_5_E02001627_1_2010004384',
 '2007008057_7_E02005789_1_2007019042',
 '2004006925_7_E02001669_1_2004016658',
 '2007003422_3_E02001678_1_2007008210',
 '2011000285_7_E02001651_1_2011000657',
 '2004001755_5_E02001627_1_2004004218',
 '2015002089_6_E02001613_1_2015005054',
 '2010000994_3_E02001678_1_2010002363',
 '2018002824_1_E02001616_1_2018006787',
 '2016002585_6_E02001611_1_2016006214',
 '2008007692_2_E02001584_1_2008018239',
 '2004008479_6_E02001649_1_2004020372',
 '2003003094_6_E02001556_1_2003007542',
 '2002004875_2_E02001594_1_2002011442',
 '2014004795_1_E02001530_1_2014011568',
 '2005006562_3_E02001666_1_2005015854',
 '2006007211_7_E02001518_1_2006017271',
 '2005002630_1_E02001534_1_2005006363',
 '2013003590_5_E02001575_1_2013008672',
 '2002004875_2_E02001662_1_2002011442',
 '2004002500_3_E02001676_1_2004005991',
 '2008008457_3_E02006875_1_2008020058',
 '2003002698_6_E02001550_1_2003006561',
 '2009007924_7_E02001625_1_2009019021',
 '2006008803_3_E02001637_1_2006021018',
 '2008001747_5_E02001646_1_2008004088',
 '2005005756_7_E02001588_1_2005013862',
 '2003006052_7_E02001553_1_2003014536',
 '2010000991_7_E02001594_1_2010002353',
 '2006008763_6_E02001614_1_2006020927',
 '2008006301_7_E02001530_1_2008014965',
 '2003003088_7_E02001576_1_2003007525',
 '2012003181_6_E02001610_1_2012007457',
 '2011001978_1_E02001527_1_2011004596',
 '2010006251_2_E02001517_1_2010014826',
 '2002001977_5_E02001602_1_2002004636',
 '2017002322_3_E02001610_1_2017005543',
 '2006002592_4_E02001591_1_2006006173',
 '2009002994_4_E02001569_1_2009007180',
 '2014002255_5_E02001681_1_2014005444',
 '2015005581_4_E02001580_1_2015013425',
 '2005006562_4_E02001642_1_2005015854',
 '2009008080_4_E02001625_1_2009019373',
 '2003003088_1_E02001543_1_2003007525',
 '2007008843_2_E02001608_1_2007020863',
 '2007000272_2_E02001674_1_2007000651',
 '2019000465_5_E02001514_1_2019001115',
 '2010008339_4_E02001611_1_2010019851',
 '2003007285_2_E02001637_1_2003017453',
 '2006008763_4_E02001627_1_2006020926',
 '2017001564_3_E02001643_1_2017003747',
 '2003006984_3_E02001649_1_2003016740',

In [11]:
potential_individuals = [
    "2016005585_5_E02001538_1_2016013411",
    "2008003221_6_E02001532_1_2008007614",
    "2006004854_4_E02001609_1_2006011654",
    "2002000535_5_E02001617_1_2002001259",
    "2002007185_4_E02001606_1_2002016833"
]

In [12]:
person_259_df = activities_df[activities_df["pid"] == "2002000535_5_E02001617_1_2002001259"].drop('pid', axis = 1)
person_259_df.to_csv("/Users/charlottesavage/MainDocs/Masters/Research proj/DP_modelling/scheduling_code/data/test/person_259_acts.csv", index=False)

In [13]:
person_1_acts = activities_df[
    activities_df["pid"] == "2006004854_4_E02001609_1_2006011654"
]

In [26]:
person_259 = people_df[people_df["pid"] == "2002000535_5_E02001617_1_2002001259"]

In [15]:
person_1 = people_df[people_df["pid"] == "2006004854_4_E02001609_1_2006011654"]

In [16]:
charger_df.head()

,index,lat,lon,device_id,port_count,port_id,address1,city,network_name,power_range_max,power_imputed
0,0,59.034786,-2.905301,1000335565,2,1000335565_1,"Shapinsay Development Trust, Balfour",Orkney,ChargePlace Scotland,22.0,True
1,1,59.034786,-2.905301,1000335565,2,1000335565_2,"Shapinsay Development Trust, Balfour",Orkney,ChargePlace Scotland,200.0,True
2,2,58.982254,-2.973739,1000339545,2,1000339545_1,Muddisdale Road,Kirkwall,"Charge Your Car,ChargePlace Scotland",50.0,True
3,3,58.982254,-2.973739,1000339545,2,1000339545_2,Muddisdale Road,Kirkwall,"Charge Your Car,ChargePlace Scotland",22.0,True
4,4,58.981014,-2.965392,1000339745,3,1000339745_1,"South Car Park, Great Western Road",Kirkwall,"Charge Your Car,ChargePlace Scotland",7.0,True

In [27]:
def get_charge_mode(charge_power):
    if charge_power <= 7.0:
        return 1
    elif charge_power > 7.0 and charge_power <= 22.0:
        return 2
    else:
        return 3

In [28]:
charger_df["charge_mode"] = charger_df["power_range_max"].apply(get_charge_mode)
charger_df.to_csv("data/chargers_with_mode.csv", index=False)
charger_df

,index,lat,lon,device_id,port_count,port_id,address1,city,network_name,power_range_max,power_imputed,charge_mode
0,0,59.034786,-2.905301,1000335565,2,1000335565_1,"Shapinsay Development Trust, Balfour",Orkney,ChargePlace Scotland,22.0,True,2
1,1,59.034786,-2.905301,1000335565,2,1000335565_2,"Shapinsay Development Trust, Balfour",Orkney,ChargePlace Scotland,200.0,True,3
2,2,58.982254,-2.973739,1000339545,2,1000339545_1,Muddisdale Road,Kirkwall,"Charge Your Car,ChargePlace Scotland",50.0,True,3
3,3,58.982254,-2.973739,1000339545,2,1000339545_2,Muddisdale Road,Kirkwall,"Charge Your Car,ChargePlace Scotland",22.0,True,2
4,4,58.981014,-2.965392,1000339745,3,1000339745_1,"South Car Park, Great Western Road",Kirkwall,"Charge Your Car,ChargePlace Scotland",7.0,True,1
...,...,...,...,...,...,...,...,...,...,...,...,...
32656,36138,51.510784,-0.186585,1010414445,1,1010414445_1,"Q-Park Queensway, London 4",London,GreenFlux Netherlands,7.4,False,2
32657,36139,51.510796,-0.186594,1010414435,1,1010414435_1,"Q-Park Queensway, London 3",London,GreenFlux Netherlands,7.4,False,2
32658,36140,51.510830,-0.186600,1010414485,1,1010414485_1,"Q-Park Queensway, London 2",London,GreenFlux Netherlands,7.4,False,2
32659,36141,51.510849,-0.186606,1010414495,1,1010414495_1,"Q-Park Queensway, London 1",London,GreenFlux Netherlands,7.4,False,2
32660,36142,51.510754,-0.189171,1004748255,1,1004748255_1,6 Orme Court,London,ubitricity Gesellschaft fÃ¼r verteilte Energies...,5.5,False,1

In [19]:
person_1.to_csv("data/test/person_1.csv", index=False)

In [20]:
person_1_acts.to_csv("data/test/person_1_acts.csv", index=False)

In [29]:
def create_test_individual_csv(person, output_dir):
    """Create a simplified individual CSV for testing."""
    # Mapping from DP group numbers to activity type names
    group_to_type = {
        1: "home",
        2: "work",
        3: "business",
        4: "shop/visit",
        5: "education",
        6: "depot/medical",
        7: "delivery/visit",
        8: "other/escort",
    }

    individual_data = {
        "pid": person["pid"].values[0],
        "home_x": person["x"].values[0],
        "home_y": person["y"].values[0],
        "work_x": person["x"].values[0],  # Simplified: use home as work
        "work_y": person["y"].values[0],
        "age_group": person["age_group"].values[0],
        "workstatus": person["workstatus"].values[0],
    }

    # Add start times and durations for each group
    for group in range(1, 9):
        if group in group_to_type:
            activity_type = group_to_type[group]

            start_col = f"start_g{group}"
            dur_col = f"dur_g{group}"

            if start_col in person.columns:
                individual_data[f"{activity_type}_start"] = (
                    person[start_col].values[0]
                    if not pd.isna(person[start_col].values[0])
                    else 0
                )
            else:
                individual_data[f"{activity_type}_start"] = 0

            if dur_col in person.columns:
                individual_data[f"{activity_type}_dur"] = (
                    person[dur_col].values[0]
                    if not pd.isna(person[dur_col].values[0])
                    else 12
                )
            else:
                individual_data[f"{activity_type}_dur"] = 12

    individual_df = pd.DataFrame([individual_data])
    output_path = output_dir + "test_individual.csv"
    individual_df.to_csv(output_path, index=False)

    print(f"\nSaved individual data to {output_path}")

    return individual_df

In [ ]:
create_test_individual_csv(person_259, "data/test/person_259/")

Saved individual data to data/test/person_259test_individual.csv

,pid,home_x,home_y,work_x,work_y,age_group,workstatus,home_start,home_dur,work_start,...,shop/visit_start,shop/visit_dur,education_start,education_dur,depot/medical_start,depot/medical_dur,delivery/visit_start,delivery/visit_dur,other/escort_start,other/escort_dur
0,2002000535_5_E02001617_1_2002001259,437044.0,393175.0,437044.0,393175.0,65+,False,224.0,169.0,103.0,...,128.0,164.0,147.0,35.0,0,12,0,12,108.0,20.0

In [23]:
charger_df.head()

,index,lat,lon,device_id,port_count,port_id,address1,city,network_name,power_range_max,power_imputed,charge_mode
0,0,59.034786,-2.905301,1000335565,2,1000335565_1,"Shapinsay Development Trust, Balfour",Orkney,ChargePlace Scotland,22.0,True,2
1,1,59.034786,-2.905301,1000335565,2,1000335565_2,"Shapinsay Development Trust, Balfour",Orkney,ChargePlace Scotland,200.0,True,3
2,2,58.982254,-2.973739,1000339545,2,1000339545_1,Muddisdale Road,Kirkwall,"Charge Your Car,ChargePlace Scotland",50.0,True,3
3,3,58.982254,-2.973739,1000339545,2,1000339545_2,Muddisdale Road,Kirkwall,"Charge Your Car,ChargePlace Scotland",22.0,True,2
4,4,58.981014,-2.965392,1000339745,3,1000339745_1,"South Car Park, Great Western Road",Kirkwall,"Charge Your Car,ChargePlace Scotland",7.0,True,1

In [24]:
activities_df.head()

,pid,activity_idx,act_type,x,y,group,earliest_start,latest_start,max_duration,min_duration
0,2002000535_3_E02001543_1_2002001259,1,home,453768.000000,408587.000000,1,0,288,288,2
1,2002000535_3_E02001543_1_2002001259,2,other,453768.000000,408587.000000,8,108,216,120,2
2,2002000535_3_E02001543_1_2002001259,3,home,453768.000000,408587.000000,1,0,288,288,2
3,2002000535_3_E02001543_1_2002001260,1,home,453768.000000,408587.000000,1,0,288,288,2
4,2002000535_3_E02001543_1_2002001260,2,pt interaction,453920.826652,408260.138674,8,108,216,120,2

In [25]:
person_1_acts

,pid,activity_idx,act_type,x,y,group,earliest_start,latest_start,max_duration,min_duration
160581,2006004854_4_E02001609_1_2006011654,1,home,454070.0,382249.0,1,0,288,288,2
160582,2006004854_4_E02001609_1_2006011654,2,other,452811.0,385797.0,8,108,216,120,2
160583,2006004854_4_E02001609_1_2006011654,3,visit,452551.0,385259.0,4,84,276,120,2
160584,2006004854_4_E02001609_1_2006011654,4,escort_shop,452211.0,383737.0,8,108,216,120,2
160585,2006004854_4_E02001609_1_2006011654,5,home,454070.0,382249.0,1,0,288,288,2
160586,2006004854_4_E02001609_1_2006011654,6,other,456492.0,382027.0,8,108,216,120,2
160587,2006004854_4_E02001609_1_2006011654,7,work,474270.0,381532.0,2,60,276,144,2
160588,2006004854_4_E02001609_1_2006011654,8,shop,467941.0,378919.0,4,84,276,120,2
160589,2006004854_4_E02001609_1_2006011654,9,home,454070.0,382249.0,1,0,288,288,2

In [25]:
lat = 59.034786
long = -2.905301
transformer_EN = Transformer.from_crs("EPSG:4326", "EPSG:27700")
transformer_latlong = Transformer.from_crs("EPSG:27700","EPSG:4326")

In [26]:
easting, northing = transformer_EN.transform(lat, long)

print(f"easting {easting}, northing {northing}")

easting 348140.4097676404, northing 1016769.9346357614

In [27]:
lat, long = transformer_latlong.transform(easting, northing)

In [28]:
print(f"lat {lat}, long {long}")

lat 59.034786, long -2.905301000000004

In [29]:
charger_df['x'], charger_df['y'] = transformer_EN.transform(charger_df['lat'], charger_df['lon'])

In [30]:
charger_df

,index,lat,lon,device_id,port_count,port_id,address1,city,network_name,power_range_max,power_imputed,charge_mode,x,y
0,0,59.034786,-2.905301,1000335565,2,1000335565_1,"Shapinsay Development Trust, Balfour",Orkney,ChargePlace Scotland,22.0,True,2,348140.404705,1.016770e+06
1,1,59.034786,-2.905301,1000335565,2,1000335565_2,"Shapinsay Development Trust, Balfour",Orkney,ChargePlace Scotland,200.0,True,3,348140.404705,1.016770e+06
2,2,58.982254,-2.973739,1000339545,2,1000339545_1,Muddisdale Road,Kirkwall,"Charge Your Car,ChargePlace Scotland",50.0,True,3,344127.360009,1.010976e+06
3,3,58.982254,-2.973739,1000339545,2,1000339545_2,Muddisdale Road,Kirkwall,"Charge Your Car,ChargePlace Scotland",22.0,True,2,344127.360009,1.010976e+06
4,4,58.981014,-2.965392,1000339745,3,1000339745_1,"South Car Park, Great Western Road",Kirkwall,"Charge Your Car,ChargePlace Scotland",7.0,True,1,344605.132031,1.010831e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32656,36138,51.510784,-0.186585,1010414445,1,1010414445_1,"Q-Park Queensway, London 4",London,GreenFlux Netherlands,7.4,False,2,525938.330356,1.806535e+05
32657,36139,51.510796,-0.186594,1010414435,1,1010414435_1,"Q-Park Queensway, London 3",London,GreenFlux Netherlands,7.4,False,2,525937.674312,1.806548e+05
32658,36140,51.510830,-0.186600,1010414485,1,1010414485_1,"Q-Park Queensway, London 2",London,GreenFlux Netherlands,7.4,False,2,525937.162889,1.806586e+05
32659,36141,51.510849,-0.186606,1010414495,1,1010414495_1,"Q-Park Queensway, London 1",London,GreenFlux Netherlands,7.4,False,2,525936.693633,1.806607e+05
32660,36142,51.510754,-0.189171,1004748255,1,1004748255_1,6 Orme Court,London,ubitricity Gesellschaft fÃ¼r verteilte Energies...,5.5,False,1,525758.972567,1.806457e+05

In [31]:
for _, act in person_1_acts.iterrows():
    act_x, act_y = act['x'], act['y']
    charger_df["distance"] = np.sqrt((charger_df['x']-act_x)**2 + (charger_df['y']-act_y)**2)

In [32]:
charger_df = charger_df.drop('power_imputed', axis=1)

In [33]:
charger_df

,index,lat,lon,device_id,port_count,port_id,address1,city,network_name,power_range_max,charge_mode,x,y,distance
0,0,59.034786,-2.905301,1000335565,2,1000335565_1,"Shapinsay Development Trust, Balfour",Orkney,ChargePlace Scotland,22.0,2,348140.404705,1.016770e+06,643302.360348
1,1,59.034786,-2.905301,1000335565,2,1000335565_2,"Shapinsay Development Trust, Balfour",Orkney,ChargePlace Scotland,200.0,3,348140.404705,1.016770e+06,643302.360348
2,2,58.982254,-2.973739,1000339545,2,1000339545_1,Muddisdale Road,Kirkwall,"Charge Your Car,ChargePlace Scotland",50.0,3,344127.360009,1.010976e+06,638267.211368
3,3,58.982254,-2.973739,1000339545,2,1000339545_2,Muddisdale Road,Kirkwall,"Charge Your Car,ChargePlace Scotland",22.0,2,344127.360009,1.010976e+06,638267.211368
4,4,58.981014,-2.965392,1000339745,3,1000339745_1,"South Car Park, Great Western Road",Kirkwall,"Charge Your Car,ChargePlace Scotland",7.0,1,344605.132031,1.010831e+06,638042.229237
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32656,36138,51.510784,-0.186585,1010414445,1,1010414445_1,"Q-Park Queensway, London 4",London,GreenFlux Netherlands,7.4,2,525938.330356,1.806535e+05,214022.887610
32657,36139,51.510796,-0.186594,1010414435,1,1010414435_1,"Q-Park Queensway, London 3",London,GreenFlux Netherlands,7.4,2,525937.674312,1.806548e+05,214021.483607
32658,36140,51.510830,-0.186600,1010414485,1,1010414485_1,"Q-Park Queensway, London 2",London,GreenFlux Netherlands,7.4,2,525937.162889,1.806586e+05,214017.724664
32659,36141,51.510849,-0.186606,1010414495,1,1010414495_1,"Q-Park Queensway, London 1",London,GreenFlux Netherlands,7.4,2,525936.693633,1.806607e+05,214015.579332
32660,36142,51.510754,-0.189171,1004748255,1,1004748255_1,6 Orme Court,London,ubitricity Gesellschaft fÃ¼r verteilte Energies...,5.5,1,525758.972567,1.806457e+05,213970.109997

In [34]:
nearby = charger_df[charger_df['distance']<=20000]

In [35]:
charger_df[charger_df['city']=="Sheffield"]

,index,lat,lon,device_id,port_count,port_id,address1,city,network_name,power_range_max,charge_mode,x,y,distance
6450,6450,53.525627,-1.627380,1001397615,2,1001397615_1,Penistone,Sheffield,Chargemaster (POLAR),50.00,3,424800.125354,403280.641272,36042.412466
6451,6451,53.525627,-1.627380,1001397615,2,1001397615_2,Penistone,Sheffield,Chargemaster (POLAR),22.00,2,424800.125354,403280.641272,36042.412466
7218,7218,53.461644,-1.491865,6712215,2,6712215_1,Acorn,Sheffield,RAW Charging,22.08,3,433834.554274,396217.786791,24588.620705
7219,7219,53.461644,-1.491865,6712215,2,6712215_2,Acorn,Sheffield,RAW Charging,22.08,3,433834.554274,396217.786791,24588.620705
7220,7220,53.461647,-1.491792,6712235,2,6712235_1,Acorn,Sheffield,RAW Charging,38.40,3,433839.396831,396218.136172,24584.834146
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8839,8839,53.315617,-1.281415,1000356985,2,1000356985_2,"M1 Motorway Southbound, Jct 30/31,Woodall",Sheffield,Ecotricity (Electric Highway),22.00,2,447970.582499,380092.039067,6469.572963
8866,8866,53.315159,-1.282853,1000356465,2,1000356465_1,"M1 Motorway Northbound, Jct 30/31,Woodall",Sheffield,Ecotricity (Electric Highway),3.00,1,447875.292542,380040.149956,6576.733156
8867,8867,53.315159,-1.282853,1000356465,2,1000356465_2,"M1 Motorway Northbound, Jct 30/31,Woodall",Sheffield,Ecotricity (Electric Highway),7.00,1,447875.292542,380040.149956,6576.733156
8868,8868,53.315159,-1.282853,1000358355,2,1000358355_1,"M1 Motorway Northbound, Jct 30/31,Woodall",Sheffield,Ecotricity (Electric Highway),200.00,3,447875.292542,380040.149956,6576.733156
8869,8869,53.315159,-1.282853,1000358355,2,1000358355_2,"M1 Motorway Northbound, Jct 30/31,Woodall",Sheffield,Ecotricity (Electric Highway),7.00,1,447875.292542,380040.149956,6576.733156

In [36]:
200*5/60

16.666666666666668